*{
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Syne Mono', monospace;
    margin-left: 50px;
    margin-top: 50px;
    padding-bottom: 15px;
}
h2{
    font-family: 'Syne Mono', monospace;
    margin-left: 50px;
    margin-bottom: 30px;
}
.oscaras{
    width: 300px;
    height: 300px;
    padding-left: 50px;
}
.letra{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Della Respira', serif;
    font-size: large;
}
.patrocinio{
    margin-left: 50px;
    margin-bottom: 30px;
    color: red;
    font-size: medium;
}